
08Ue/.main.cpp.swp

08Ue/.main.cpp.swp

08Ue/a.out

08Ue/Ausgaben.dat

08Ue/Fourier.dat

08Ue/.main.cpp.swp

08Ue/main.cpp

08Ue/Werte.dat

08Ue/.main.cpp.swp

08Ue/Ausgaben.dat

08Ue/Fourier.dat

08Ue/Pendel
